game/art/**/*
game/levels/**/*
game/core/**/*
game/tools/**/*
game/web/**/*
game/shaders/procedural/*
Winterleaf.Demo.Full/bin/**/*
Winterleaf.Demo.Full/obj/**/*
Winterleaf.Engine.Omni/bin/**/*
Winterleaf.Engine.Omni/obj/**/*
Winterleaf.Game/bin/**/*
Winterleaf.Game/obj/**/*
buildFiles/Link/**/*
game/csScripts/bin/**/*
game/scripts/client/config.cs
*.db
*.pdb
*.exe
*.dll
*.log
game/prefs.client.cs