#game/art/**/*
#game/levels/**/*
#game/core/**/*
#game/tools/**/*
#game/web/**/*
game/shaders/procedural/*
Winterleaf.Demo.Full/bin/**/*
Winterleaf.Demo.Full/obj/**/*
Winterleaf.Engine.Omni/bin/**/*
Winterleaf.Engine.Omni/obj/**/*
Winterleaf.Game/bin/**/*
Winterleaf.Game/obj/**/*
buildFiles/Link/**/*
game/csScripts/bin/**/*
*.bak
*.tmp
*.db
*.log
*.exe
*.dll
*.pdb
*.cache
*.Cache
*log*
game/prefs.client.cs
game/tools/settings.xml
